<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% block body %}

<section class="aboutus_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aboutus">
          <div class="row">
            <div class="col-lg-3 c col-md-12 order-lg-1 order-sm-3 order-3 ">
              <div class="what">
                <div class="what_box" data-aos="fade-up">
                  <p>web development</p>
                </div>
                <div class="what_box" data-aos="fade-up">
                  <p>software development</p>
                </div>
                <div class="what_box" data-aos="fade-up">
                  <p>digital marketing</p>
                </div>
                <div class="what_box" data-aos="fade-up">
                  <p>graphic design</p>
                </div>
                <div class="what_box" data-aos="fade-up">
                  <p>animation</p>
                </div>
                <div class="what_box" data-aos="fade-up">
                  <p>CCTV installation</p>
                </div>
                <div class="what_box" data-aos="fade-up">
                  <p>PVEX installation</p>
                </div>
              </div>
            </div>
            <div class=" col-lg-5 col-md-6  order-lg-2 order-sm-2 order-2">
              <div class="aboutus_info">
                <p class="text-uppercase heading_1 aboutus_info_head" data-aos="fade-up">About us</p>
                {% for x in about %}
                <p class="aboutus_info_para">{{x.description}}</p>
                {% endfor %}
                <button class="text-uppercase plan" data-aos="fade-up">Our Plan</button>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 order-lg-3 order-sm-1 order-1">
              <div class="aboutus_img" data-aos="fade-up">
                <img src="{% static 'image\group work.jpg'%}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="do">
          <div class="do_box" style="background-image: url('{% static 'image/web development.png'%}');" onclick="location.href='#'" data-aos="fade-right" >
            <div class="do_box_info">
              <p class='text-capitalize' >web development</p>
            </div>
            
          </div>
          <div class="do_box" style="background-image: url('{% static 'image/software developmant.png'%}');" onclick="location.href='#'" data-aos="fade-right">
            <div class="do_box_info">
              <p class='text-capitalize' >software development</p>
            </div>
          </div>
          <div class="do_box" style="background-image: url({% static 'image/web development.png'%});" onclick="location.href='#'" data-aos="fade-right">
            <div class="do_box_info">
              <p class='text-capitalize' >Digital marketing</p>
            </div>
          </div>
          <div class="do_box"  style="background-image: url('{% static 'image/graphic design.jpg'%}');" onclick="location.href='#'" data-aos="fade-right">
            <div class="do_box_info">
              <p class='text-capitalize' >graphic design</p>
            </div>
          </div>
          <div class="do_box" style="background-image: url({% static 'image/software developmant.png'%});" onclick="location.href='#'" data-aos="fade-right">
            <div class="do_box_info">
              <p class='text-capitalize' >animation</p>
            </div>
          </div>
          <div class="do_box" style="background-image: url({% static 'image/web development.png'%});" onclick="location.href='#'" data-aos="fade-right">
            <div class="do_box_info">
              <p class='text-capitalize' >CCTV installation</p>
            </div>
          </div>
          <div class="do_box"  style="background-image: url({% static 'image/graphic design.jpg'%});" onclick="location.href='#'" data-aos="fade-right">
            <div class="do_box_info">
              <p class='text-capitalize' >PVEX installation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="employee_header blog_head" >
          <p class=" heading_1">Our Blogs</p>
          <p class="blog_seeall">see all</p>
        </div>
        <div class="blog">
          {% for post in posts %}
          <div class="blog_box" onclick="location.href='#'"  >
            <div class="blog_img" style="background-image: url({{post.image.url}});">
            </div>
            <div class="blog_info">
              <span>{{post.date}}</span>
              <p>{{post.title}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5  ">
        <div class="employee_header">
          <p class="text-center heading_1">our team</p>
        </div>
        <div class="employee_box">
          <div class="employee" data-aos="fade-right">
            <div class="employee_image">
              <img src="{% static 'image\employees.jpg'%}" alt="">
            </div>
            <div class="employee_info">
              <div class="">
                <p class="text-capitalize employee_name">nemar Dhungel</p>
                <p class="employee_postion">CEO</p>
              </div>
              <div class="employee_media">
                <i class="bi bi-facebook" onclick="location.href='#'"></i>
                <i class="bi bi-instagram"onclick="location.href='#'"></i>
                <i class="bi bi-twitter"onclick="location.href='#'"></i>
                <i class="bi bi-google"onclick="location.href='#'"></i>
              </div>
              <div class="employee_testimoney">
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt accusantium impedit ad assumenda atque laboriosam perspiciatis eveniet quaerat earum distinctio eius obcaecati aliquam, alias exercitationem possimus tempora esse facere animi.</p>
              </div>
            </div>
          </div>
          <div class="employee" data-aos="fade-left">
            <div class="employee_image">
              <img src="{% static 'image\employees.jpg'%}" alt="">
            </div>
            <div class="employee_info">
              <div class="">
                <p class="text-capitalize employee_name">nemar Dhungel</p>
                <p class="employee_postion">CEO</p>
              </div>
              <div class="employee_media">
                <i class="bi bi-facebook" onclick="location.href='#'"></i>
                <i class="bi bi-instagram"onclick="location.href='#'"></i>
                <i class="bi bi-twitter"onclick="location.href='#'"></i>
                <i class="bi bi-google"onclick="location.href='#'"></i>
              </div>
              <div class="employee_testimoney">
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt accusantium impedit ad assumenda atque laboriosam perspiciatis eveniet quaerat earum distinctio eius obcaecati aliquam, alias exercitationem possimus tempora esse facere animi.</p>
              </div>
            </div>
          </div>
          <div class="employee" data-aos="fade-right">
            <div class="employee_image">
              <img src="{% static 'image\employees.jpg'%}" alt="">
            </div>
            <div class="employee_info">
              <div class="">
                <p class="text-capitalize employee_name">nemar Dhungel</p>
                <p class="employee_postion">CEO</p>
              </div>
              <div class="employee_media">
                <i class="bi bi-facebook" onclick="location.href='#'"></i>
                <i class="bi bi-instagram"onclick="location.href='#'"></i>
                <i class="bi bi-twitter"onclick="location.href='#'"></i>
                <i class="bi bi-google"onclick="location.href='#'"></i>
              </div>
              <div class="employee_testimoney">
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt accusantium impedit ad assumenda atque laboriosam perspiciatis eveniet quaerat earum distinctio eius obcaecati aliquam, alias exercitationem possimus tempora esse facere animi.</p>
              </div>
            </div>
          </div>
          <div class="employee" data-aos="fade-left">
            <div class="employee_image">
              <img src="{% static 'image\employees.jpg'%}" alt="">
            </div>
            <div class="employee_info">
              <div class="">
                <p class="text-capitalize employee_name">nemar Dhungel</p>
                <p class="employee_postion">CEO</p>
              </div>
              <div class="employee_media">
                <i class="bi bi-facebook" onclick="location.href='#'"></i>
                <i class="bi bi-instagram"onclick="location.href='#'"></i>
                <i class="bi bi-twitter"onclick="location.href='#'"></i>
                <i class="bi bi-google"onclick="location.href='#'"></i>
              </div>
              <div class="employee_testimoney">
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt accusantium impedit ad assumenda atque laboriosam perspiciatis eveniet quaerat earum distinctio eius obcaecati aliquam, alias exercitationem possimus tempora esse facere animi.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} 