{% extends 'base.html' %}

{% load static %}


{% block body %}
<section class="port_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 overflow-hidden">
        <div class="port ">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-4">
							<img class="port_header_img" src="{% static 'image\web 5.jpeg'%}" alt="">
						</div>
						<div class="col-md-3 col-sm-4 col-4">
							<img class="port_header_img" src="{% static 'image\web 2.png'%}" alt="">
						</div>
						<div class="col-md-3 col-sm-4 col-4 ">
							<img class="port_header_img" src="{% static 'image\web 4.png'%}" alt="">
						</div>
						<div class="col-md-3 col-sm-4 d-none  d-md-block ">
							<img class="port_header_img" src="{% static 'image\web 1.jpeg'%}" alt="">
						</div>
					</div>
					<div class="port_circle1"></div>
					<div class="port_circle2"></div>
					<div class="port_circle3"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
	<div class="container">
		<div class="row position-relative overflow-hidden">
			<div class="col-md-12 ">
				<div class="p-5">
          <p class="text-center heading_1">Web Development</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6 position-relative">
				<img class="port_header_img" src="{% static 'image\web 5.jpeg'%}" alt="">
				<div class="port_shadow_img">

				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 2.png'%}" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 4.png'%}" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 1.jpeg'%}" alt="">
			</div>
			<div class="port_circle1"></div>
			<div class="port_circle2"></div>
			<div class="port_circle3"></div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row position-relative overflow-hidden">
			<div class="col-md-12 " >
				<div class="p-5">
          <p class="text-center heading_1">software development</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6 position-relative">
				<img class="port_header_img" src="{% static 'image\web 5.jpeg'%}" alt="">
				<div class="port_shadow_img">

				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 2.png'%}" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 4.png'%}" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 1.jpeg'%}" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 4.png'%}" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<img class="port_header_img" src="{% static 'image\web 1.jpeg'%}" alt="">
			</div>
			<div class="port_circle1"></div>
			<div class="port_circle2"></div>
			<div class="port_circle3"></div>
		</div>
	</div>
</section>

{% endblock %}